
NET "clk_in"  LOC = "p8"  ;
NET "reset_inout_n"  LOC = "d15"  ;
NET "sdram_clk"  LOC = "e10"  ;
NET "sdram_fb"  LOC = "n8"  ;

NET "display_r<0>"  LOC = "c8"  ;
NET "display_r<1>"  LOC = "d6"  ;
NET "display_r<2>"  LOC = "b1"  ;
NET "display_g<0>"  LOC = "a8"  ;
NET "display_g<1>"  LOC = "a5"  ;
NET "display_g<2>"  LOC = "c3"  ;
NET "display_b<0>"  LOC = "c9"  ;
NET "display_b<1>"  LOC = "e7"  ;
NET "display_b<2>"  LOC = "d5"  ;
NET "display_hsync"  LOC = "b7"  ;
NET "display_vsync"  LOC = "d8"  ;

NET "ram_sdram_a<0>"  LOC = "b5"  ;
NET "ram_sdram_a<10>"  LOC = "b6"  ;
NET "ram_sdram_a<11>"  LOC = "c5"  ;
NET "ram_sdram_a<12>"  LOC = "c6"  ;
NET "ram_sdram_a<1>"  LOC = "a4"  ;
NET "ram_sdram_a<2>"  LOC = "b4"  ;
NET "ram_sdram_a<3>"  LOC = "e6"  ;
NET "ram_sdram_a<4>"  LOC = "e3"  ;
NET "ram_sdram_a<5>"  LOC = "c1"  ;
NET "ram_sdram_a<6>"  LOC = "e4"  ;
NET "ram_sdram_a<7>"  LOC = "d3"  ;
NET "ram_sdram_a<8>"  LOC = "c2"  ;
NET "ram_sdram_a<9>"  LOC = "a3"  ;
NET "ram_sdram_ba<0>"  LOC = "a7"  ;
NET "ram_sdram_ba<1>"  LOC = "c7"  ;
NET "ram_sdram_cas_n"  LOC = "a10"  ;
NET "ram_sdram_cke"  LOC = "d7"  ;
NET "ram_sdram_cs_n"  LOC = "b8"  ;
NET "ram_sdram_dq<0>"  LOC = "c15"  ;
NET "ram_sdram_dq<10>"  LOC = "c12"  ;
NET "ram_sdram_dq<11>"  LOC = "b14"  ;
NET "ram_sdram_dq<12>"  LOC = "d14"  ;
NET "ram_sdram_dq<13>"  LOC = "c16"  ;
NET "ram_sdram_dq<14>"  LOC = "f12"  ;
NET "ram_sdram_dq<15>"  LOC = "f13"  ;
NET "ram_sdram_dq<1>"  LOC = "d12"  ;
NET "ram_sdram_dq<2>"  LOC = "a14"  ;
NET "ram_sdram_dq<3>"  LOC = "b13"  ;
NET "ram_sdram_dq<4>"  LOC = "d11"  ;
NET "ram_sdram_dq<5>"  LOC = "a12"  ;
NET "ram_sdram_dq<6>"  LOC = "c11"  ;
NET "ram_sdram_dq<7>"  LOC = "d10"  ;
NET "ram_sdram_dq<8>"  LOC = "b11"  ;
NET "ram_sdram_dq<9>"  LOC = "b12"  ;
NET "ram_sdram_ldqm"  LOC = "c10"  ;
NET "ram_sdram_ras_n"  LOC = "a9"  ;
NET "ram_sdram_udqm"  LOC = "d9"  ;
NET "ram_sdram_we_n"  LOC = "b10"  ;

NET "rom_a<0>"  LOC = "n5"  ;
NET "rom_a<10>"  LOC = "r16"  ;
NET "rom_a<11>"  LOC = "p14"  ;
NET "rom_a<12>"  LOC = "p13"  ;
NET "rom_a<13>"  LOC = "n12"  ;
NET "rom_a<14>"  LOC = "t14"  ;
NET "rom_a<15>"  LOC = "r13"  ;
NET "rom_a<16>"  LOC = "n10"  ;
NET "rom_a<17>"  LOC = "m14"  ;
NET "rom_a<18>"  LOC = "k3"  ;
NET "rom_a<19>"  LOC = "k4"  ;
NET "rom_a<1>"  LOC = "k14"  ;
NET "rom_a<2>"  LOC = "k13"  ;
NET "rom_a<3>"  LOC = "k12"  ;
NET "rom_a<4>"  LOC = "l14"  ;
NET "rom_a<5>"  LOC = "m16"  ;
NET "rom_a<6>"  LOC = "l13"  ;
NET "rom_a<7>"  LOC = "n16"  ;
NET "rom_a<8>"  LOC = "n14"  ;
NET "rom_a<9>"  LOC = "p15"  ;
NET "rom_byte_n"  LOC = "t8"  ;
NET "rom_ce_n"  LOC = "r4"  ;
NET "rom_d<0>"  LOC = "m11"  ;
NET "rom_d<10>"  LOC = "t5"  ;
NET "rom_d<11>"  LOC = "p6"  ;
NET "rom_d<12>"  LOC = "m7"  ;
NET "rom_d<13>"  LOC = "r6"  ;
NET "rom_d<14>"  LOC = "n7"  ;
NET "rom_d<15>"  LOC = "p7"  ;
NET "rom_d<1>"  LOC = "n11"  ;
NET "rom_d<2>"  LOC = "p10"  ;
NET "rom_d<3>"  LOC = "r10"  ;
NET "rom_d<4>"  LOC = "t7"  ;
NET "rom_d<5>"  LOC = "r7"  ;
NET "rom_d<6>"  LOC = "n6"  ;
NET "rom_d<7>"  LOC = "m6"  ;
NET "rom_d<8>"  LOC = "t4"  ;
NET "rom_d<9>"  LOC = "r5"  ;
NET "rom_oe_n"  LOC = "p5"  ;
NET "rom_rst_n"  LOC = "p16"  ;
NET "rom_we_n"  LOC = "m13"  ;

NET "keyboard_ps2_clk"  LOC = "b16"  ;
NET "keyboard_ps2_data"  LOC = "e13"  ;

NET "sound_mclk" LOC = "P11";
NET "sound_sclk" LOC = "T12";
NET "sound_lrck" LOC = "R12";
NET "sound_sdti" LOC = "M10";
